{% extends "base.html" %}
{% block title %}Task3 Page{% endblock %}
{% block content %}

<div class="materialContainer">
    <form action="{{ url_for('task3_result')}}" method="post">
     <div class="box">
 
       <div class="title"><a href="#"><b>Task</b> 3</a></<br></div>
 
       <div class="input">
          <label for="name">Keyword:- </label>
          <input type="text" name="key" id="name" required>
          <span class="spin"></span>
       </div>
 
       <div class="input">
          <label for="pass">Number of Images:- </label>
          <input type="number" name="num" id="pass" required>
          <span class="spin"></span>
       </div>
 
       <div class="button login">
          <button  name="btn_login" type="submit" value="Submit"><span>Submit</span> <i class="fa fa-check"></i></button>
       </div>
 
       
 
    </div>
     </form>
 </div>

<!-- <form  action="{{ url_for('task3_result') }}" method="post">
    Location : <input  type="text" name="key"><br>
    Password:  <input  type="number" name="num"><br>
    <input type="submit" value="Submit"> -->
{% endblock %}